@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
    background-color: #323232;
}

* {
    color: white;
}

a {
    color: #7aa9f6;
    text-decoration: underline;
}

input, select{
    border: 1px solid #7aa9f6;
    border-radius: 5px;
}

input[type="text"]{
    width: 400px;
}

input[type="number"]{
    width: 100px;
}

select{
    width: 200px;
}



option {
    color: black;
}

button{
    background-color: #7aa9f6;
    color: white;
    border-radius: 5px;
    width: 200px;
}
