@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --bg: #f6f7fb;
    --panel: #fff;
    --muted: #7a7a7a;
    --accent: #5e0b0b;
    --header: #ffffff;
    --shadow: 0 6px 14px rgba(24, 20, 20, 0.25);
    --radius: 14px;
    --max-width: 1600px;
}

*{
    outline: none;
    font-family: "Poppins", sans-serif;
}

.bg-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -3;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 468' preserveAspectRatio='none'><path d='M1488.5 -35.5V280.518L-20.5 467.434V-35.5H1488.5Z' fill='%235E0B0B'/></svg>")
    no-repeat center top;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 12px;
    height: 100vh;
}

header.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;     /* solid white */
    border-radius: 12px;       /* round corners */
    margin: 20px;
    position: sticky;
    z-index: 1; /* keep it above the wave */
}

main.flex-1 {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


